
body {
	padding: 0;
	margin: 0px;
}
#front
{
	display: block;
}
#front-img
{
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: auto;
	height: auto;
	z-index: -1;
}
#back
{
	display: none;
}
#back-img
{
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: auto;
	height: auto;
	z-index: -1;
}
#info {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 13px;
	height: 13px;
}
#done {
	position: absolute;
	right: 21px;
	margin-left: auto;
	bottom: 21px;
	margin-top: auto;
}
#select-station {
    font: 12px "Lucida Grande";
    font-weight: normal;
    color: black;
    position: absolute;
    top: 24px;
    left: 21px;
}
#station_list {
	position: absolute;
	left: 21px;
	margin-left: auto;
	top: 51px;
	margin-top: auto;
	width: 210px;
}
#srcthis
{
    font: 14px "Lucida Grande";
    font-weight: normal;
    color: black;
    position: absolute;
    bottom: 21px;
    left: 21px;
}